@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$fontFamilyMain: "Montserrat", sans-serif;
$fontFamilySec: "Poppins", sans-serif;
$fontFamilyAlt: "Cairo", sans-serif;

// $colorMain: #ff3d57;
// $colorAlt: #00d743;
// $colorFont: #434343;
// $colorYellow: #ffe400;
// $colorYellowSec: #ffca00;
// $colorHover: #0a21c0;
$colorHover: #14a76c;
$colorEffect: #00d743;

// ali
$colorMain: #fd2a53;
$colorMainAlt: #fd384f;
$colorNavBg: #191919;
$colorNavBgAlt: #535353;
$colorBtnBg: #191919;
$colorPageBg: #ffffff;
$colorCardBg: #eaecf9;
$colorCardBgAlt: #ffeadf;
$colorFotrBg: #e8e8e8;
$colorTxt: #000000;
$colorTxtAlt: #757575;
$colorTxtAltSec: #999999;

$transisionMain: 0.3s;

.flex-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $fontFamilyMain;
  color: $colorTxt;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
// Small
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
// Medium
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
// Large
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
