<div class="container">
  <div class="deals">
    <div class="card card-one">
      <div class="card-header">
        <h2>Title deal</h2>
        <p>informatino</p>
      </div>
      <div class="products">
        <div class="prod-container card">
          <div class="card-img">
            <a href="#"
              ><img src="../../assets/images/product (10).webp" alt=""
            /></a>
          </div>
          <div class="card-body">
            <p class="descripption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <span class="currency">EGY</span>
            <span class="price">price</span>
          </div>
        </div>
        <div class="prod-container card">
          <div class="card-img">
            <a href="#"
              ><img src="../../assets/images/product (10).webp" alt=""
            /></a>
          </div>
          <div class="card-body">
            <p class="descripption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <span class="currency">EGY</span>
            <span class="price">price</span>
          </div>
        </div>
        <div class="prod-container card">
          <div class="card-img">
            <a href="#"
              ><img src="../../assets/images/product (10).webp" alt=""
            /></a>
          </div>
          <div class="card-body">
            <p class="descripption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <span class="currency">EGY</span>
            <span class="price">price</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-tow">
      <div class="card-header">
        <h2>Title deal</h2>
        <p>informatino</p>
      </div>
      <div class="products">
        <div class="prod-container card">
          <div class="card-img">
            <a href="#"
              ><img src="../../assets/images/product (10).webp" alt=""
            /></a>
          </div>
          <div class="card-body">
            <p class="descripption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <span class="currency">EGY</span>
            <span class="price">price</span>
          </div>
        </div>
        <div class="prod-container card">
          <div class="card-img">
            <a href="#"
              ><img src="../../assets/images/product (10).webp" alt=""
            /></a>
          </div>
          <div class="card-body">
            <p class="descripption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <span class="currency">EGY</span>
            <span class="price">price</span>
          </div>
        </div>
        <div class="prod-container card">
          <div class="card-img">
            <a href="#"
              ><img src="../../assets/images/product (10).webp" alt=""
            /></a>
          </div>
          <div class="card-body">
            <p class="descripption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <span class="currency">EGY</span>
            <span class="price">price</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- break -->
  <div class="card-container">
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (34).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (34).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (34).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (34).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="#"
          ><img src="../../assets/images/product (10).webp" alt=""
        /></a>
      </div>
      <div class="card-body">
        <p class="descripption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <span class="currency">EGY</span>
        <span class="price">price</span>
      </div>
      <button class="see-preview" type="button">See Preview</button>
    </div>
  </div>
</div>
